#card-blog {
    width: auto;
    display: flex;
    margin-bottom: 25px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#card-projects
{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#card-blog:hover, #card-projects:hover
{
    box-shadow: 0 7px 16px rgba(0,0,0,0.2), 0 6px 7px rgba(0,0,0,0.2);
}

#quote
{
    margin-bottom: 25px;
    font-size: 18px;
    text-align: center;
}