  .nav .item
  {
    display: inline-block;
    text-align: center;
    height: 30px;
  }

  .nav
  {
    position: fixed;
    width: 100%;
  }

  .top-right-menu
  {
      float: right;
      font-size: 18px;
      padding: 0;
      padding-left: 10px;
      margin: 0;
      font-weight: 100;
      color: white;
  }

  .name
  {
    letter-spacing: 0.5px;
    font-weight: 400;
  }

  @media screen and (max-width: 480px) {
    .nav
    {
      white-space: nowrap;
    }
  }